h1{
    background-color: pink;
    color: blue;
    font-size: 50px;
}

p{
    color: yellow;
    background-color: green;
}

.prueba{
    color: tomato;
    background-color: none;

}

.cabecera{
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
    align-items: center;
    height: 45px;
    width: 100%;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);

}

h2{
    color: white;
    font-size: 2em;

}

span{
    color: white;
    font-size: 1.5em;
}

.container{
    border: 1px solid grey;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
