h1{
    background-color: pink;
    color: blue;
    font-size: 50px;
}

p{
    color: yellow;
    background-color: green;
}

.prueba{
    color: tomato;
    background-color: none;

}

.container{
    border: 1px solid grey;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 1px;
}